.app-wrapper {
  width: 90%;
  margin: 0 auto;
}

.app-tab-wrapper {
  border: 1px solid grey;
  border-radius: 0.25rem;
  margin-left: 2.7rem;
  min-height: 24rem;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.app-button-wrapper .active {
  color: white;
  font-weight: bold;
  background: rgb(180, 180, 180);
  /* box-shadow: inset 0px 0px 5px #c1c1c1; */
}

.app-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.graph-container {
  height: 100%;
  width: 600px;
}

.map-container {
  height: 600px;
  width: 100%;
}

th {
  border: 3px solid;
  padding: 0 1rem 0 1rem;
}

td {
  border: 1px solid;
  padding: .2rem .5rem .2rem .5rem;
}
